
.hidden {
  visibility:none;
}

.info {
  position: absolute;
  top: 2em;
  opacity: 0.7;
  height: 10em;
  background-color: #bbb;
  z-index: 20;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

#modal {
  font-size: 1.3em;
}

#info-text {
  z-index: 30;
  font-family: Helvetica, sans-serif;
  font-size: 3em;
  margin-top: 1em;
  padding-right: 1em;
  padding-left: 5%;
}

.dg {
  z-index: 20;
}

#screen {
  border: 1px solid #000;
  background-image: url("../img/stars.jpg");
  background-color: #000;
  z-index: 0;
}

.canvas-container {
  z-index: 0;
}
